{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
  Щит: {{ form.instance }}
{% else %}
  Новый щит
{% endif %}
{% endblock %}
{% block header %}
{% if is_edit or is_copy %}
Укажите новое имя и проект, в который хотите скопировать щит {{ form.instance }}
{% else %}
Проект: {{ project.name }}
{% endif %}

{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <h5 class="card-header">       
          {% if is_edit or is_copy %}
            Щит: {{ form.instance }}
          {% else %}
            Новый щит
          {% endif %}
        </h5>
        <div class="card-body">
          {% load user_filters %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}
          <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group row my-3 p-3">
                <label for="{{ field.id_for_label }}">
                  {{ field.label }}
                  {% if field.field.required %}
                    <span class="required text-danger">*</span>
                  {% endif %}
                </label>    
                {{ field|addclass:'form-control' }}
                {% if field.help_text %}
                  <small 
                    id="{{ field.id_for_label }}-help" 
                    class="form-text text-muted">
                    {{ field.help_text|safe }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}
            <div class="d-flex justify-content-between">
              <input type=button class="btn btn-outline-dark" value="Назад" onClick="javascript:history.go(-1);">
              <button type="submit" class="btn btn-outline-primary">
                {% if is_edit %}
                  Сохранить изменения
                {% elif is_copy %}
                  Создать копию
                {% else %}
                  Добавить в проект
                {% endif %}
              </button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
