{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
  Щит: {{ equipment_formset.instance }}
{% else %}
  Новый щит
{% endif %}
{% endblock %}
{% block header %}
Проект: {{ project.name }} -> Щит: {{ equipment_formset.instance.name }}
{% endblock %}
{% block content %}
<p>
  <a href="{% url 'panels:panel_detail' equipment_formset.instance.id %}" class="btn btn-light">Вернуться к просмотру щита</a></p>
  <article class="mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          {% if is_edit %}
            {{ equipment_formset.instance }}
          {% else %}
            Новый щит
          {% endif %}
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          Тип щита: {{ equipment_formset.instance.get_function_type_display }}
        </h6>
        <p class="card-text">{{ equipment_formset.instance.description }}
          {% load user_filters %}
          {% comment %} {% if form.errors %}
            <div class="alert alert-danger">
              {{ form.non_field_errors|escape }}
            </div>
          {% endif %} {% endcomment %}
        <form id="form-container" method="post" action="" enctype="multipart/form-data">
          {% csrf_token %}
          {{ equipment_formset.management_form }}
          <div class="eqipment-form">
          {{ equipment_formset.as_p }}
          </div>
          {% comment %} {% for field in form %}
            <div class="form-group row my-3 p-3">
              <label for="{{ field.id_for_label }}">
                {{ field.label }}
                {% if field.field.required %}
                  <span class="required text-danger">*</span>
                {% endif %}
              </label>    
              {{ field }}
              {% if field.help_text %}
                <small 
                  id="{{ field.id_for_label }}-help" 
                  class="form-text text-muted">
                  {{ field.help_text|safe }}
                </small>
              {% endif %}
            </div>
          {% endfor %} {% endcomment %}
          <button id="add-form" type="button" class="btn btn-outline-primary">Добавить строку</button>
          <br>
          <br>
          <div class="d-flex justify-content-between">
            <a href="{% url 'panels:panel_detail' equipment_formset.instance.id %}" class="btn btn-outline-dark">Отмена</a></p>
            <button type="submit" class="btn btn-outline-primary">
              {% if is_edit %}
                Сохранить изменения
              {% else %}
                Добавить в проект
              {% endif %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}


