<article class="mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ panel.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Тип щита: {{ panel.get_function_type_display }}</h6>
        <p class="card-text">{{ panel.description }}
          <a href="{% url 'panels:panel_edit' panel.id %}">Изменить название и описание</a>
          <table class="table table-light table-striped">
            <thead>
              <tr>
                <th scope="col">№ п/п</th>
                <th scope="col">Завод изготовитель</th>
                <th scope="col">Артикул</th>
                <th scope="col">Наименование, техническая характеристика</th>
                <th scope="col">Единицы измерения</th>
                <th scope="col">Количество</th>
              </tr>
            </thead>
            <tbody>
              {% for item in panel.amounts.all|slice:":200" %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ item.equipment.vendor }}</td>
                  <td>{{ item.equipment.code }}</td>
                  <td>{{ item.equipment.description }}</td>
                  <td>{{ item.equipment.get_units_display }}</td>
                  <td>{{ item.amount }}</td>
                </tr>
              {% endfor %}
              {% if panel.amounts.all|length > 200 %}
                <td colspan="6">. . .</td>
              {% endif %}
            </tbody>
          </table>
        </p>
        <a href="{% url 'panels:boq_download_panel' panel.id %}" class="btn btn-outline-dark">Скачать спецификацию щита</a>
        <a href="{% url 'panels:panel_copy' panel.id %}" class="btn btn-outline-primary">Создать копию</a>
        {% if user == panel.project.author or user in panel.project.co_authors.all %}
          <a href="{% url 'panels:panel_edit_contents' panel.id %}" class="btn btn-outline-primary">Редактировать</a>
          <a href="{% url 'panels:panel_delete' panel.id %}" class="btn btn-outline-danger" onclick="return confirm('Вы уверены что хотите полностью удалить щит?');">Удалить щит</a>
        {% endif %}
        <p class="card-text p-3">
          <h6 class="card-subtitle mb-2 text-muted">Приложенные файлы:</h6>
          {% for att in panel.attachments.all %}
            {% if user == panel.project.author or user in panel.project.co_authors.all %}
              <a href="{% url 'panels:file_delete' att.id %}" class="btn-sm btn-outline-danger" onclick="return confirm('Вы уверены что хотите удалить файл?');">Удалить</a>
            {% endif %}
            <a href="{{ att.drawing.url }}" download>{{ att.description }}</a>
           <br>
          {% endfor %}
        </p>
        {% if user == panel.project.author or user in panel.project.co_authors.all %}
        <a href="{% url 'panels:file_add' panel.id %}" class="btn btn-outline-primary">Добавить приложение</a>
        {% endif %}
      </div>
    </div>
</article>
