{% load static %}
<header>
  <nav 
    class="navbar navbar-expand-lg navbar-dark"
    style="background-color: #254E58">
    <div class="container">
      <a class="navbar-brand" href="{% url 'panels:index' %}">
      <img 
        src="{% static 'img/logo.png' %}"
        width="60"
        height="60"
        class="d-inline-block align-middle" 
        alt="">
      <span style="color:white" class="align-middle">ASODUcreator</span>
      </a>
      <div class="text-center">
        <button 
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="color:white">
        {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">
          {% if user.is_authenticated %}
          <li class="nav-item"> 
            <a 
              class="nav-link
              {% if view_name  == 'panels:index' %}active bg-dark{% endif %} text-light"
              href="{% url 'panels:index' %}"
              >
            Мои проекты
            </a>
          </li>
          <li class="nav-item">
            <a 
              class="nav-link
              {% if view_name  == 'panels:template_list' %}active bg-dark{% endif %} text-light"
              href="{% url 'panels:template_list' %}"
              >
            Шаблоны
            </a>
          </li>
          <li class="nav-item"> 
            <a 
              class="nav-link
              {% if view_name  == 'panels:project_list' %}active bg-dark{% endif %} text-light"
              href="{% url 'panels:project_list' %}"
              >
            База проектов
            </a>
          </li>
          <li class="nav-item"> 
            <a 
              class="nav-link link-light
              {% if view_name  == 'users:profile' %}active bg-dark{% endif %} text-light"
              href="{% url 'users:profile' user.username %}"
              >
            Мой профиль
            </a>
          </li>
          </li>
          <li class="nav-item"> 
            <a 
              class="nav-link link-light
              {% if view_name  == 'users:logout' %}active bg-dark{% endif %} text-light"
              href="{% url 'users:logout' %}"
              >
            Выйти
            </a>
          </li>
          {% else %}
          <li class="nav-item"> 
            <a 
              class="nav-link link-light
              {% if view_name  == 'users:login' %}active bg-dark{% endif %} text-light"
              href="{% url 'users:login' %}"
              >
            Войти
            </a>
          </li>
          <li class="nav-item"> 
            <a 
              class="nav-link link-light
              {% if view_name  == 'users:signup' %}active bg-dark{% endif %} text-light"
              href="{% url 'users:signup' %}"
              >
            Регистрация
            </a>
          </li>
          {% endif %}
        </ul>
        {% endwith %}
      </div>
    </div>
  </nav>
</header>
